.container {
    display: grid;
    margin: auto;
    grid-template-columns: 28% 28% 28%;
    grid-gap: 5rem;
}

button {
    display: inline-block;
    width: 500px;
    height: 100px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-left: 20px; /* Add left padding to move the text to the right */
}

button:hover {
    background-color: #0055aa;
}
