body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin-top: 30px;
}

.container,
.profile-settings,
.search-page,
.my-recipes,
.favorite-recipes,
.tags-page,
.recipe-detail-container,
.grid-item,
.edit-recipe-container,
.my-meals-container,
.meal-item,
.meal-details-container,
.meal-planner-container,
.favorite-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
}

h2,
h3 {
  font-size: 18px;
  margin: 0;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 20%;
}

input[type="submit"],
.button,
.settings-button,
.edit-button,
.back-button,
.create-button,
.delete-button {
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-button {
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-results,
.recipe-list,
.tag-list ul,
.meal-list,
.recipe-item,
.meal-item {
  list-style: none;
  padding: 0;
}

.search-result,
.recipe-item,
.tag-list li,
.meal-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.tag-list li {
  padding: 5px 10px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.tag-list li.selected {
  background-color: #0056b3;
}

.recipe-item,
.meal-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.recipe-details,
.meal-details-container .button-container {
  display: flex;
  gap: 10px;
}

.delete-button,
.edit-button,
.edit-recipe-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button:hover,
.edit-button:hover,
.edit-recipe-button:hover {
  background-color: #0056b3;
}

.back-link,
.back-button {
  display: inline-block;
  padding: 10px 16px;
  background-color: #fff;
  color: #007bff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-link:hover,
.back-button:hover {
  background-color: #eee;
}

.meal-planner-form,
.meal-planner-container .button-container {
  margin-top: 20px;
}

.meal-planner-form h2 {
  font-size: 20px;
}

.meal-planner-form input[type="checkbox"] {
  margin-right: 5px;
}

.meal-planner-form ul,
.recipe-list,
.meal-list {
  list-style: none;
  padding: 0;
}

.meal-planner-form li {
  margin-bottom: 10px;
}

.create-button,
.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.my-meals-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.meal-list {
  list-style: none;
  padding: 0;
}

.meal-link {
  text-decoration: none;
  color: #007BFF;
}

.meal-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.meal-date,
.meal-type,
.meal-recipes {
  font-size: 16px;
  margin-bottom: 5px;
}

.meal-details-container,
.meal-planner-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.meal-planner-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-planner-form {
  margin-top: 20px;
}

.meal-planner-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.meal-planner-form select {
  width: auto;
  padding: 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.meal-planner-form .button-container {
  margin-top: 20px;
}

.meal-planner-form .create-button {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.meal-planner-form .create-button:hover {
  background-color: #45a049;
}

.favorite-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.favorite-heading {
  color: #333;
}

.favorite-list {
  list-style-type: none;
  padding: 0;
}

.favorite-item {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.back-to-menu-button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-menu-button:hover {
  background-color: #2078b5;
}

.my-recipes-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.recipe-actions {
  display: flex;
  align-items: center;
}

.recipe-link {
  text-decoration: none;
  color: #333;
}

.navigation-links {
  margin-top: 20px;
}

.recipe-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.recipe-name {
  margin-top: 30px;
}

.difficulty-options {
  display: flex;
}

.difficulty-button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 5px;
}

.difficulty-button.easy {
  background-color: #28a745;
  color: #fff;
  border: 3px solid transparent;
}

.difficulty-button.medium {
  background-color: #ffc107;
  color: #fff;
  border: 3px solid transparent;
}

.difficulty-button.hard {
  background-color: #dc3545;
  color: #fff;
  border: 3px solid transparent;
}

.difficulty-button.selected {
  border: 3px solid #007bff;
}

#notes,
#ingredients {
  width: 99%;
  min-height: 100px;
  resize: vertical;
  overflow-y: auto;
  margin-top: 10px;
}

.file-input-button {
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
}

.submit-main {
  display: flex;
}

.button[type="submit"] {
  margin-right: 10px;
}

.button-meal-type {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.shopping-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-list-container h1 {
  color: #333;
}

.shopping-list-container ul {
  list-style-type: none;
  padding: 0;
}

.shopping-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.shopping-list-container p {
  color: #555;
}

/* Optional: Add some spacing around the container */
.shopping-list-container {
  margin-top: 20px;
}
